.main_contain{
    overflow:hidden;
    position: relative;
    z-index:1;
  width: 100%;
  max-width: 90vw; 
}
.main_contain:before{
    content: url("/img/background.png");
    z-index:-1;
    position:absolute;
    opacity:0.3;
  }
.ser_contain{
 
    margin-bottom: 10px;
    width: 300px;
    border-radius: 10px ;
    padding: 30px 10px;
    display: flex;
    height: 340px;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
    background-color: rgb(54, 54, 99);
    color: white;
  
}
.web_img{
   width:80px;
   height:80px;
   margin-bottom: 25px;
}
.ser_con1,.ser_con2{
   display: flex;
  justify-content: center;
}
.ser_con1{
    padding-top: 100px;
    color: rgb(7, 155, 7);
    font-size: 30px;
}
.ser_con2{
    color: black;
    font-size: 30px;
}

.ser_small{
    display: flex;
    margin: 30px;
    gap: 40px;
    justify-content: center;
}

.ser_contain:hover{
transform:scale(1.1)
}
.ser-tit1{
    font-size: 25px;
}

@media only screen and (max-width:1050px){
    .web_img{
        margin-bottom: 15px;
     }
     .ser_contain{
        height: 370px;
    }

}

@media only screen and (max-width:600px){
    .main_contain:before{
        transform:scaleY(1.5) ; 
    }
    .ser_small{
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .main_contain{
        height: 1250px;
    }

    .ser_con1{
      
        font-size: 25px;
    }
    .ser_contain{
        height: 300px;
    }

}
