.sec_bar{

    display: flex;
    height: 600px;
   overflow: hidden;
    position: relative;
    z-index:1;
    max-width: 1350px;
  }
  .sec_bar:before{
    content: url("/img/background.png");
    z-index:-1;
    position:absolute;
    opacity:0.3;
  }
  .sec_bar_img{
    margin-top: 50px;
    width: 550px;
    height: 450px;

    
  }
  .sec_bar_con{
    margin: 130px 40px auto 100px; 

  }
  
  .tit{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(220, 89, 23);
  }
  .tit1{
font-size: 30px;
font-weight: bold;
margin-bottom: 20px;
color:black;

  }
.tit2{
  font-size: 50px;
font-weight: bold;
margin-bottom: 10px;
}
.tit3{
  font-size: 20px;
  color:black;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 50px;
  width: 200px;
  background-image: url("/img/multi1.jpg");
  background-size:cover;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.btn_name{
  margin-right: 10px;
}

.tit2{
  display: flex;
  background-image: url('/img/multi3.jpg');
  -webkit-background-clip: text;
  color: transparent;
  font-size:80px;

}
.intro-btn{
  margin-top: 20px;
}
.button:hover{
  transform: scale(1.1); 
}
 
@media only screen and (max-width:1050px) {

  .sec_bar_img{
    margin-top: 170px;
    width: 450px;
    height: 350px;
    
  }
  .sec_bar_con{
    margin: 130px 40px auto 40px; 
  }
  
  .tit{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(220, 89, 23);
  }
  .tit2{
    margin-bottom: 10px;
  }

.tit3{
margin: 0px;
}
.intro-btn{
  margin-top: 20px;
}
}
@media only screen and (max-width: 600px) {
  .sec_bar{
display: flex;
flex-direction: column;
height: 1000px;
  }
  .sec_bar_img{
    margin: 0px;
    width: 400px;
    height: 300px;
    
  }
  .sec_bar_con{
    margin: 130px 5px 40px 5px; 
  }
  
  .tit{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(220, 89, 23);
  }

.tit3{
  margin: 0px 10px 0px 10px;
}
.intro-btn{
  margin-top: 40px;
}
.tit,.tit1,.tit2,.tit3,.intro-btn{
  display: flex;
  justify-content: center;
}
}