.mess_con{
    overflow:hidden;
    position: relative;
    z-index:1;
    max-width: 1350px;
}
.mess_con:before{
    content: url('/img/multi1.jpg');
    position:absolute;
    z-index:-1;
    opacity:0.3;
    overflow: hidden;

}
.left-side{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 30px;
}
img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
h3{
    margin: 0px;
}
p{
    margin: 0px;
}

.con{
    display: flex;
    margin-top: 30px;
}
.details{
    color: black;
    margin-left: 20px;
}
.form{
    margin-left: 200px;
}
input{
    padding: 15px;
    margin-right: 10px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(54, 54, 99);
    color:white;
}
.line1{
    width: 265px;
}
.line2{
    width: 540px;
    margin-top: 10px;
}
.line3{
    margin-top: 10px;
    width: 540px;
    height: 120px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(54, 54, 99);
    padding: 15px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
.form_btn{
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: green;
    cursor: pointer;
    margin-bottom: 30px;
    font-weight:bold;
    color:white;   
}
.mess_con1{
    display: flex;
   justify-content: center;
   color: rgb(7, 155, 7);
  font-size:30px;
  margin-top: 50px;
 }



.form_btn:hover{
    transform: scale(1.1); 
  }


  @media only screen and (max-width: 1050px){
    .line1{
        width: 220px;
    }
    .line2{
        width: 450px;
    }
    .line3{
        width: 450px;
    }
    .form{
display: flex;
justify-content: center;
        margin-left: 150px;
    }
 
  }

  @media only screen and (max-width:600px){
    .line1{
        width: 300px;
        margin-top: 5px;

    }
    .con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
    }
    .line2{
        width: 300px;
        margin-top: 5px;
    }
    .line3{
        width: 300px;
        margin-top: 5px;
        
    }
.left-side{
    justify-content: center;
}
    .con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
    }
    .form_btn{
        margin-top: 5px;
    }
    .details{
        margin:20px 0px 0px 0px;
    }
    .form{
padding:0px 100px 0px 100px;
margin: 0px;

display: grid;
justify-content: center;

    }




  }
  