
   .logo{

     width: 150px;
     height: 90px;
   }
   i{
 
   color: black;
   font-size:30px; 
   margin-left:10px;
   margin-right:100px;
   }
   html {
    scroll-behavior: smooth;
   }
.nav-link{
  font-weight:bold;
}
.navbar{
  padding: 0px;
}