
  .Third_bar{
    display: flex;
    overflow: hidden;
    height: 680px;
    max-width: 1350px;
    position:relative;  
    z-index:1;
                                                                                  
  }
  .Third_bar:before{
      content: url('/img/multi1.jpg');
      position:absolute;
      z-index:-1;
   
      opacity:0.3;

  }
  .Third_bar_img{
    width: 650px;
    height: 500px;
    margin-top: 150px

  }
  .Third_bar_con{
    margin: 20px 80px auto 50px;
  }
  .titl1{
    font-size: 30px;
font-weight: bold;
color: rgb(7, 155, 7);
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 150px
  }
  
  .titl2{
   font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    color: black;
  }
  .titl3{
    font-size: 18px ;
    color: black;
  }
.about-div{
  display: flex;
}
  .high{
    margin-left: 5px;
    font-weight: bold;
    color: orange;
  }
.btns{
  margin-top: 50px;
}
.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 50px;
  width: 250px;
  background-image: url("/img/multi4.jpg");
  background-size:cover;
  font-weight: bolder;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
label{
  color: rgb(191, 152, 11);
}
.btns:hover{
  transform: scale(1.1); 
}

@media only screen and (max-width:1050px){
  .Third_bar{
    height: 550px;                                                                
  }

  .Third_bar_img{
    width: 450px;
    height: 450px;
    margin-top: 50px
  }
  .Third_bar_con{
    margin: 80px 10px auto 10px;
  }
  .titl1{
    margin-top: 0px
  }
  .titl2{
    font-size: 30px;
  }

.btns{
  margin-top: 50px;
}
}
@media only screen and (max-width:600px){
  .Third_bar{
    display: flex;
    flex-direction: column-reverse;
    height: 800px; 

                                                              
  }
  .Third_bar:before{
    transform:scaleY(1.5) ; 

}
  .Third_bar_img{
    width: 350px;
    height: 300px;
    margin: 30px 0px 0px 0px; 
  }
  .Third_bar_con{
    margin: 10px 10px 10px 10px;
  }
  .titl1{
    margin-top: 0px
  }
  .titl2{
    font-size: 25px;
  }

.btns{
  margin-top: 50px;
}
.titl1,.titl2,.about-btn{
  display: flex;
  justify-content: center;
}
.titl2{
  margin-left: 20px;
}
.titl3,.titl4,.high{
  font-size: 15px;
}
.about-flex{
  display: grid;

}
}
