.skill_contain{
  overflow:hidden;
    position: relative;
    z-index:1;
}
.skill_contain:before{
  content: url('/img/multi1.jpg');
  position:absolute;
  z-index:-1;
  opacity:0.3;
}

.skill-con{
  margin-bottom: 10px;
  margin-top:20px;
  width: 150px;
  border-radius: 10px ;
  padding: 10px 10px;
  display: flex;
  height: 200px;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
  background-color: rgb(54, 54, 99);
  margin: 20px;
  color: white;


}
.circle{
 background-color: rgb(173, 172, 172);
 margin-top: 10px;
 margin-bottom: 20px;
  width: 100px;
  height: 100px;
  border-radius:50% ;
}

.skill_img{
  margin: 10px;
  margin-top: 20px;
  width: 70px;
  height: 70px;
}
.container{
  display: flex;
  gap: 10px;
}
.skill_con1,.skill_con2{
  display: flex;
 justify-content: center;
}
.skill_con1{
  padding-top: 100px;
   color: rgb(7, 155, 7);
   font-size: 30px;
   
}
.skill_con2{
   color: black;
   font-size: 30px;
   margin-bottom: 30px;
}
.skill-tit{
  font-size: 15px;
}

@media only screen and (max-width: 1050px){
  /* .skill_contain{
    padding: 40px;
  } */
}

@media only screen and (max-width: 600px){
  .container{ 
    gap: 0px;
  }
}