.work-cont{
overflow: hidden;
position: relative;
z-index: 1;
}
.work-cont:before{
    content: url("/img/background.png");
    z-index:-1;
    position:absolute;
    opacity:0.3;
  }
.cont{
    width: 380px;
    border-radius: 10px ;
    padding: 10px;
    display: flex;
    height: 460px;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
    background-color: rgb(54, 54, 99);
  
}
.work_img{
    width:360px;
    height:220px;
    border-radius:10px;
    margin: 7px 0px 15px 0px;
}
.text-con{
    margin-left: 20px;
    max-width: 340px;
}
.btn{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.work_con{
padding: 50px;
    
}
button{
    border: none;
    background-color: white;
}
p{
    font-size: 17px;
}
.work_con1{
    background-image: url('/img/multi3.jpg');
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}
.work_con2{
    color: rgb(7, 155, 7);
    font-size: 30px;
}
.work_con3{
    color: white;
}
.work_btn{
    background-color: rgb(54, 54, 99);
    display: flex;
    align-items: center;
    color: rgb(132, 132, 132);
    cursor: pointer;
}
.work_btn:hover{
    color: white;
}
.work_name{
    font-size: small;
    margin-left: 10px;
}
.work_img:hover{
    transform:scale(1.05)
    }

 @media only screen and (max-width:1050px){
    
.work_con{
    padding: 50px;
    margin-left: 40px;
        
    }
 }   

 @media only screen and (max-width:600px){ 
    .work_con{
       margin: 0px; 
       padding-left: 30px;   
        padding:30px;
        }
        .cont{
            width: 330px;
            height: 460px;          
        }
        .work_img{
            width:310px;       
        }
        .work-cont{
            height: 700px;
        }
     }   
