body{
  margin: 0px;
background-image: url('./img/fun2.gif');
background-position: center;
background-repeat: no-repeat;
background-size: cover;


}

html {
  scroll-behavior: smooth;

 }

.nav_btn:hover{
  color: green;
 }
 body, html {
  height: 100%;
  margin: 0;
}

.loading{


}


